body {
    position: relative;
    width: 1440;
    height: 768px;
  
    background: #FFFFFF;
  }

.navBar {
    position: absolute;
    width: 1440px;
    height: 93px;
    left: -8px;
    top: -8px;
    
    box-shadow: 0 2px 2px -1px rgba(0,0,0,.2);
    background: #FFEEB0;
}

.logo {
    position: absolute;
    width: 273px;
    height: 71px;
    left: 14px;
    top: 9px;
}

.about-button {
    position: absolute;
    width: 101px;
    height: 56px;
    left: 1000px;
    top: 16px;
    
    border: 3.5px solid #FAAA6D;
    border-radius: 6px;
    background-color: #FFEEB0;

    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    
    color: #FAAA6D;
}

.about-button:hover {
    background-color: #FAAA6D;
    color: #FFEEB0;
    transition-duration: 0.15s;
}

.discover-button {
    position: absolute;
    width: 130px;
    height: 56px;
    left: 1118px;
    top: 16px;
    
    border: 3.5px solid #FAAA6D;
    border-radius: 6px;
    background-color: #FFEEB0;

    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    
    color: #FAAA6D;
}

.discover-button:hover {
    background-color: #FAAA6D;
    color: #FFEEB0;
    transition-duration: 0.15s;
}

.signup-button {
    position: absolute;
    width: 120px;
    height: 55px;
    left: 1265px;
    top: 16px;
    
    border: 3.5px solid #F2684A;
    border-radius: 6px;
    background-color: #F2684A;

    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    
    color: #FFEEB0;
}

.welcome {
    position: absolute;
    width: 416px;
    height: 129px;
    left: 505px;
    top: 130px;
    
    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 33px;
    line-height: 40px;
    
    color: #000000;
}

.form-label {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 515px;
}

#github-label {
    background-image: url("assets/github.svg");
    top: 240px;
    fill: #F2684A;
}

#email-label {
    background-image: url("assets/email.svg");
    top: 303px;
}

#pw-label {
    background-image: url("assets/password.svg");
    top: 363px;
}

#confirm-label {
    background-image: url("assets/password.svg");
    top: 428px;
}

.form {
    position: absolute;
    width: 305px;
    height: 30px;
    left: 595px;
    
    border: 0;
    border-bottom: 3px solid #F2684A;  
    
    font-family: Cabin;
    font-style: normal;
    font-size: 20px;
    color: #000000;
}

.form::placeholder {
    color: rgb(155, 155, 155);
}

#github {
    top: 235px;
}

#email {
    top: 295px;
}

#password {
    top: 355px;
}

#confirm {
    top: 415px;
}

.submit-button {
    position: absolute;
    width: 175px;
    height: 55px;
    left: 605px;
    top: 506px;
    
    border: 3.5px solid #F2684A;
    border-radius: 6px;
    background-color: #FFFFFF;

    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    
    color: #F2684A;
}

.submit-button:hover {
    background-color: #F2684A;
    color: #FFFFFF;
    transition-duration: 0.15s;
}

.existing {
    position: absolute;
    width: 254px;
    height: 28px;
    left: 580px;
    top: 601px;
    
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    
    color: #000000;
}

.login-redirect {
    text-decoration-line: underline;
    color: #419EAE;
    
}

.new {
    display: none;
    position: absolute;
    width: 254px;
    height: 28px;
    left: 580px;
    top: 601px;
    
    font-family: Cabin;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    
    color: #000000;
}

.signup-redirect {
    text-decoration-line: underline;
    color: #419EAE;
    
}

#login-form {
    display: none;
}

.login-button {
    position: absolute;
    width: 175px;
    height: 55px;
    left: 610px;
    top: 506px;
    
    border: 3.5px solid #F2684A;
    border-radius: 6px;
    background-color: #FFFFFF;

    font-family: Cabin;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 36px;
    
    color: #F2684A;
}

.login-button:hover {
    background-color: #F2684A;
    color: #FFFFFF;
    transition-duration: 0.15s;
}
